[submodule "themes/dopetrope"]
	path = themes/dopetrope
	url = https://github.com/curtiscde/hugo-theme-dopetrope.git
[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
